button, .button, a.button-blue {
    background: #943d43;
    border: 1px solid #943d43;
}
#footer-container {     
    background: #943d43;
}
#layout-main h3 {
    background: #943d43;
}
#header-second {        
    background: #943d43;
}
