button, .button, a.button-blue {
    background: #1474BD;
    border: 1px solid #1474BD;
}
#footer-container {     
    background: #1474BD;
}
#layout-main h3 {
    background: #1474BD;
}
#header-second {        
    background: #1474BD;
}