button, .button, a.button-blue {
    background: #000000;
    border: 1px solid #000000;
}
#footer-container {     
    background: #000000;
}
#layout-main h3 {
    background: #000000;
}
#header-second {        
    background: #000000;
}