button, .button, a.button-blue {
    background: #007f3f;
    border: 1px solid #007f3f;
}
#footer-container {     
    background: #007f3f;
}
#layout-main h3 {
    background: #007f3f;
}
#header-second {        
    background: #007f3f;
}