button, .button, a.button-blue {
    background: #a248a3;
    border: 1px solid #a248a3;
}
#footer-container {     
    background: #a248a3;
}
#layout-main h3 {
    background: #a248a3;
}
#header-second {        
    background: #a248a3;
}