button, .button, a.button-blue {
    background: #fd7e26;
        border: 1px solid #fd7e26;
}
#footer-container {     
    background: #fd7e26;
}
#layout-main h3 {
    background: #fd7e26;
}
#header-second {        
    background: #fd7e26;
}