button, .button, a.button-blue {
    background: #7e7e7e;
    border: 1px solid #7e7e7e;
}
#footer-container {     
    background: #7e7e7e;
}
#layout-main h3 {
    background: #7e7e7e;
}
#header-second {        
    background: #7e7e7e;
}
