button, .button, a.button-blue {
    background: #c90004;
    border: 1px solid #c90004;
}
#footer-container {     
    background: #c90004;
}
#layout-main h3 {
    background: #c90004;
}
#header-second {        
    background: #c90004;
}